/.Rhistory
/.RData
/.Renviron
/.Rproj.user
renv/library/
renv/staging/
renv/cache/
_book/
_site/
_cache/
/outputs/
/datasets/*.csv
*.html
*.pdf
*.nb.html
*.Rproj
*.Ruserdata
node_modules/
/.vscode/.history
